.container {
	padding: 0 60px 100px 100px;
	width: 100%;
	max-width: 100%;
	flex-wrap: wrap;
	display: flex;
	background-color: #f7f6f3;
}

.specialItem {
	width: calc(50% - 20px);
	height: 100%;
	margin: 10px;
	position: relative;
}

.specialContainerImage {
	padding-bottom: calc(70% - 20px);
	width: 100%;
	position: relative;
	overflow: hidden;
}

.specialContainerImage img {
	transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.specialContainerImage:hover img,
.containerImage:hover img {
	transform: scale(1.1);
}
.item {
	width: calc(25% - 20px);
	height: 100%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #000;
}

.containerImage {
	padding-bottom: calc(139% - 120px);
	width: 100%;
	position: relative;
	overflow: hidden;
}

.containerImage img {
	transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.information {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #e9e7e4;
	height: 120px;
	width: 100%;
}
.title {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
}
.line {
	margin: 3px 0;
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.price {
	font-weight: 600;
	line-height: 18px;
	font-size: 16px;
}

@media screen and (max-width: 1440px) {
	.specialItem {
		width: calc(66.6667% - 20px);
	}
	.item {
		width: calc(33.33333% - 20px);
	}
}
@media screen and (max-width: 980px) {
	.container {
		padding: 0 40px 80px 40px;
	}
	.specialItem {
		width: calc(100% - 20px);
	}
	.item {
		width: calc(50% - 40px);
	}
}

@media screen and (max-width: 760px) {
	.container {
		padding: 0;
		padding-bottom: 80px;
	}
	.specialItem {
		margin: 10px 0;
		width: 100%;
	}
	.item {
		margin: 10px auto;
		width: calc(100% - 40px);
	}
}
