.setup {
	padding: 80px 120px;
	background-color: #f7f6f3;
}
.container {
	border-top: 1px solid #e9e7e4;
	border-bottom: 1px solid #e9e7e4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
}

.title {
	color: #212322;
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	max-width: 870px;
	text-align: center;
	text-transform: uppercase;
}

.desc {
	margin-top: 20px;
	color: #212322;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	margin-top: 20px;
	max-width: 660px;
	text-align: center;
	text-transform: uppercase;
}

@media screen and (max-width: 760px) {
	.setup {
		padding: 60px 0;
	}
	.container {
		padding: 60px 20px;
	}
	.title {
		font-size: 36px;
		line-height: 44px;
	}
	.desc {
		font-size: 20px;
		line-height: 24px;
	}
}
