.container {
	border-top: 1px solid #e9e7e4;
	background-color: #fff;
	padding: 80px 0 0;
}
.main {
	width: 1280px;
	margin: 0 auto;
	max-width: calc(100% - 160px);
	padding-bottom: 40px;
}

.link {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: 500;
	line-height: 44px;
	text-decoration: none;
	color: #000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.plus {
	margin-right: 30px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.plus img {
	height: 30px;
	width: 30px;
}

.footer {
	background-color: #212322;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0 40px;
}

.list {
	width: 1280px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.list a {
	width: 260px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
}

@media screen and (max-width: 1180px) {
	.main,
	.list {
		max-width: calc(100% - 80px);
	}
}

@media screen and (max-width: 760px) {
	.container {
		padding-top: 60px;
	}
	.link {
		font-size: 24px;
		line-height: 29px;
	}
	.plus img {
		height: 25px;
		width: 25px;
	}
}
