.dropdown {
	height: 100%;
}
.dropdown:hover .dropdownInformation {
	display: flex;
}
.dropdownTitle {
	height: 100%;
	font-size: 12px;
	font-weight: 600;
	margin: 0 8px;
	color: var(--header-current-color);
	padding: 25px 10px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}

.dropdownTitle::after {
	content: '';
	position: absolute;
	background-color: #212322;
	bottom: 15px;
	height: 1px;
	left: 10px;
	width: calc(100% - 20px);
	transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropdownTitle:hover::after {
	transform: scaleX(1);
}
.dropdownTitle.current::after {
	transform: scaleX(1);
}

.dropdownInformation {
	position: absolute;
	display: none;
	top: 70px;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 40px;
	border-bottom: 1px solid #e9e7e4;
}
.line {
	top: 0;
	height: 1px;
	width: calc(100% - 80px);
	position: absolute;
	left: 40px;
	background-color: #e9e7e4;
}

.information {
	display: flex;
}

.imageContainer {
	height: 350px;
	width: 250px;
	overflow: hidden;
}
.imageContainer img {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

.list {
	margin-left: 40px;
	padding-left: 40px;
	list-style-type: none;
	border-left: 1px solid #e9e7e4;
}
.list:nth-child(2) {
	border: none;
	margin-left: 0;
}

.title {
	color: #212322;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	margin-bottom: 30px;
}
.item {
	white-space: nowrap;
	color: #898989;
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	position: relative;
	width: fit-content;
	cursor: auto;
}
.item::after {
	content: '';
	position: absolute;
	background-color: #212322;
	bottom: 3px;
	height: 1px;
	left: 0;
	width: 100%;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item:hover::after {
	transform: scaleX(1);
}
.item span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	line-height: 28px;
}

@media screen and (max-width: 1300px) {
	.imageContainer {
		display: none;
	}
}
